@charset "utf-8";
/** 검색 **/
/* 모듈 */
.search_header_form .sh_form_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 36px;
  padding: 0 9px;
  border-radius: 8px;
  background: #f5f5f8;
}
.search_header_form .sh_form_wrap .icon_search {
  flex: 0 0 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/images/inc/icon_top_search.svg) no-repeat 0 0/16px;
}
.search_header_form .sh_form_wrap .sh_input {
  margin-left: 6px;
  font-size: 14px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border: 0;
  height: 100%;
  text-indent: unset;
}
.search_header_form .sh_form_wrap .sh_input:focus {
  background-color: transparent;
}
.search_header_form .sh_form_wrap .btn_kwd_delete {
  width: 30px;
  height: 30px;
  margin: 0 -9px 0 6px;
  background: url(/images/inc/icon_kwd_delete.svg) no-repeat 50%/15px;
}
.search_result_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 4px;
}
.search_result_item + .search_result_item {
  margin-top: 8px;
}
.search_result_item > button:not(.btn_back, .btn_x_delete),
.search_result_item > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex: 1 0 auto;
  max-width: 100%;
  padding: 4px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* __가족리스트 포함 시 : has_family */
.search_result_item.has_family .s_info {
  max-width: calc(100% - 48px - 8px - 98px - 8px);
}
.search_result_item.pop_sp_info .btn_back {
  width: 28px;
  height: 28px;
  margin-right: 4px;
  border-radius: 100%;
  background: #fff url(/images/inc/icon_back.svg) no-repeat right 4px top 50%/24px;
}
.search_result_item .s_img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(46, 26, 70, 0.05);
  border-radius: 100%;
  overflow: hidden;
}
.search_result_item .s_img.type_rc {
  border-radius: 12px;
}
.search_result_item .s_img.type_bd {
  border: solid 1px rgba(46, 26, 70, 0.05);
  box-sizing: border-box;
}

.search_result_item .s_img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.search_result_item .s_img.place {
  background: #fff url(/images/inc/icon_map_pin.svg) no-repeat 50%/24px;
}
.search_result_item .s_img.hashtag {
  background: #fff url(/images/inc/icon_hashtag.svg) no-repeat 50%/24px;
}
.search_result_item .s_img.user {
  background: #fff url(/images/inc/icon_usertag.svg) no-repeat 50%/24px;
}
.search_result_item .s_img.shop {
  background: #fff url(/images/inc/icon_shopping_bag.svg) no-repeat 50%/24px;
}
.search_result_item .s_img.pet {
  background: #fff url(/images/inc/icon_pet.svg) no-repeat 50%/24px;
}
.search_result_item .s_img.branduser {
  background: #fff url(/images/inc/icon_check_circle.svg) no-repeat 50%/24px;
}
.search_result_item .s_info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-left: 8px;
  max-width: calc(100% - 48px - 8px);
}
.search_result_item .s_info .info_main {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}
.search_result_item .s_info .info_main .badge {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: bottom;
}
.search_result_item .s_info .info_main .badge img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search_result_item .s_info .info_main > mark {
  font-weight: 700;
}
.search_result_item .s_info .info_sub {
  display: block;
  font-size: 12px;
  color: #a39fbd;
  text-align: left;
}
.search_result_item .s_info .info_sub + .info_main,
.search_result_item .s_info .info_main + .info_sub {
  margin-top: 2px;
}
.search_result_item .s_info .info_sub > span {
  font-size: inherit;
  color: inherit;
}
.search_result_item .s_info .btn_more {
  position: relative;
  top: -2px;
  left: -2px;
  padding: 0 2px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  color: #78a7cb;
  line-height: 1;
  background: transparent;
}
.search_result_item .btn_x_delete {
  position: absolute;
  z-index: 10;
  right: 0;
  margin-right: 8px;
}
.sch_img_list {
  display: flex;
  padding: 0 16px;
}
.sch_img_list .item {
  width: calc((100vw - 32px - (12px * 4)) / 5);
}
.sch_img_list .item + .item {
  margin-left: 12px;
}
.sch_img_list .item .img {
  display: block;
  width: calc((100vw - 32px - (12px * 4)) / 5);
  height: calc((100vw - 32px - (12px * 4)) / 5);
  border-radius: 100%;
  overflow: hidden;
}
.sch_img_list .item > a .img {
  position: relative;
}
.sch_img_list .item > a .img:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
}
.sch_img_list .item > a:active .img:before {
  opacity: 0.1;
}

/* __type_rc : round-corner TYPE */
.sch_img_list.type_rc .item .img {
  border-radius: 16px;
}
/* __type_bd : border 1px TYPE */
.sch_img_list.type_bd .item {
  width: 64px;
}
.sch_img_list.type_bd .item .img {
  width: 64px;
  height: 64px;
  border: 1px solid rgba(46, 26, 70, 0.05);
}
.sch_img_list .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sch_img_list .item .txt {
  margin-top: 10px;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #2e1a46;
}

/* _가족리스트 : HOME - .sec_fdt_familybox과 동일 */
.familybox {
  position: absolute;
  right: 16px;
  top: 8px;
  z-index: 1;
  width: 98px;
}
.familybox ul {
  display: block;
  overflow-x: auto;
  padding: 0;
  text-align: right;
  font-size: 0;
}
.familybox li {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid #fff;
  display: inline-block;
  margin-left: -10px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.familybox li:nth-child(1) {
  z-index: 1;
}
.familybox li:nth-child(2) {
  z-index: 2;
}
.familybox li:nth-child(3) {
  z-index: 3;
}
.familybox li:nth-child(4) {
  z-index: 4;
}
.familybox li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.familybox li.sec_ffplus_btn {
  border: 0;
  width: 38px;
  height: 38px;
}
.familybox li button {
  width: 100%;
  height: 100%;
  background: #e8e8ef;
}
.familybox li button span {
  font-size: 16px;
  font-weight: 700;
  margin-top: -3px;
}
.familybox li button:active {
  background-color: #d6d6e1;
}

/* _장소검색 지도요소 */
.map_area .goto_mylocation,
.map_area .current_location,
.map_area .group_pin {
  position: absolute;
  z-index: 900;
}
.map_area .group_pin .btn_img_pin {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: solid 3px #fff;
  overflow: hidden;
}
.map_area .group_pin .btn_img_pin > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map_area .group_pin .num {
  position: absolute;
  top: -2px;
  right: -2px;
  display: block;
  padding: 2px 4px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  background-color: #2e1a46;
}
.map_area .current_location {
  width: 40px;
  height: 40px;
  background: url(/images/inc/icon_map_current_location.svg) no-repeat;
}
.map_area .goto_mylocation {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
  background: #fff url(/images/inc/icon_map_location.svg) no-repeat 50%/24px;
}
.btn_map_refresh {
  position: absolute;
  left: 50%;
  top: -56px;
  z-index: 1;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 40px 13px 24px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  white-space: nowrap;
  border-radius: 22px;
  background: rgba(46, 26, 70, 0.9) url(/images/inc/icon_refresh.svg) no-repeat
    right 12px top 50%;
}
.btn_map_refresh:active {
  background-color: rgba(46, 26, 70, 0.97);
  transition: none;
}

/* 레이아웃 */
/* _검색바영역 */
.search_header_form {
  width: calc(100% - 82px);
  margin: 6px auto 0;
  padding: 4px 0;
}
#header.show .search_header_form {
  margin-top: 1px;
}

/* _검색홈 */
.search_content_home > section {
  margin: 16px 0 24px;
}
.sch_sec_title {
  margin-left: 16px;
  font-size: 12px;
  font-weight: 700;
}
/* __추천검색 */
.sch_recommend_list {
  margin-top: 16px;
  padding: 0 16px;
}
.sch_recommend_list .list_item + .list_item {
  margin-left: 8px;
}
.sch_recommend_list .list_item a {
  display: block;
  padding: 8px;
  font-size: 12px;
  font-weight: 500;
  background: #e8e8ef;
  border-radius: 8px;
}
.sch_recommend_list .list_item a {
}
/* __최근검색 */
.sch_recent {
  position: relative;
}
.sch_recent .btn_txt_delete {
  position: absolute;
  top: -4px;
  right: 12px;
}
.sch_recent .search_result_item:first-child {
  margin-top: 12px;
}
.sch_recent .s_info {
  max-width: calc(100% - 48px - 8px - 24px);
}

/* _검색결과 홈 */
/* __탭 : z-index 1000 = Header와 동일*/
.s_tabs {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background: #fff;
}
#header.show + #container .s_tabs {
  top: 46px;
}
.s_tabs .line_tabs .tab_item > a {
  height: 39px;
  box-sizing: border-box;
}
.s_tabs .line_tabs.xscroll_list .tab_item {
  flex: 1 0 64px;
}
/* __탭컨텐츠 */
.s_tabs + .s_tab_contents {
  padding-top: 39px;
}
.s_tab_contents > section:last-child:not(:only-child) {
  margin-bottom: 32px;
}
.s_tab_contents .sch_sec_title {
  margin: 32px 16px 16px;
}
.s_tab_contents section:first-child .sch_sec_title {
  margin-top: 16px;
}
.s_tab_contents .no_result {
  margin-top: 24px;
  margin-bottom: 24px;
}
.s_tab_contents .sch_sec_title + .no_result {
  margin-top: 0;
}
.s_tab_contents .no_result + .sch_sec_title {
  margin-top: 40px !important;
}
.s_tab_contents .no_result .btns_wrap {
  margin-top: 16px;
  justify-content: center;
}
.s_tab_contents .no_result .btn {
  flex: 0 0 134px;
  border-color: #bed8e9;
}
.s_tab_contents .no_result .btn > span {
  font-weight: 500;
}
.s_tab_contents .map_area {
  width: 100vw;
  height: 100vw;
  background: #eee;
}
/* _장소검색 팝업 */
.pop_search_place {
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.06);
  z-index: 3000;
}
/* __상단 정보 - 그룹 */
.pop_search_place:not(.type_detail) .search_result_item.pop_sp_info {
  padding: 14px 16px;
}
.pop_search_place:not(.type_detail) .search_result_item.pop_sp_info .s_img {
  width: 36px;
  height: 36px;
}
.pop_search_place:not(.type_detail) .search_result_item.pop_sp_info .info_main {
  font-size: 16px;
  line-height: 1;
}
/* __상단 정보 - 상세 */
.pop_search_place.type_detail .search_result_item.pop_sp_info {
  padding: 20px 16px 20px 12px;
  margin-top: 0;
}
.pop_search_place.type_detail .search_result_item.pop_sp_info .info_main {
  line-height: 1;
}
/* __탭 컨텐츠 */
.pop_search_place.type_detail .pop_sp_tab_contents {
  height: calc(100vh - 39px - 90px - 30px - 24px);
  overflow-y: auto;
}
.pop_search_place:not(.type_detail) .pop_sp_tab_contents {
  height: calc(50vh - 39px - 66px - 30px);
  overflow-y: auto;
}
.is_open .pop_search_place:not(.type_detail) .pop_sp_tab_contents {
  height: calc(100vh - 39px - 66px - 30px - 24px);
}
.is_close .pop_search_place:not(.type_detail) .pop_contents_wrap {
  height: 0;
}
.pop_sp_tab_contents .search_result_item {
  margin: 0;
  padding: 12px 16px;
}
.pop_sp_tab_contents .search_result_item .s_info .info_main {
  line-height: 1;
}

/* _장소정보 페이지 */
.place_info_list > li {
  padding: 16px;
}
.place_info_list > li + li {
  border-top: 1px solid #f4f4f4;
}
.place_info_list dt {
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -0.36px;
  color: #807aa2;
}
.place_info_list dd {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.42px;
  color: #2e1a46;
}
.place_info_list dd a {
  font-size: inherit;
  font-weight: inherit;
}
.place_info_list .txt_em {
  font-size: 14px;
  font-weight: 700;
  color: #78a7cb;
}
.place_info_list .per {
  font-weight: 700;
  color: #eb5757;
  vertical-align: baseline;
}
.with_pet_info {
  margin-top: 12px;
  font-size: 0;
}
.with_pet_info + .with_pet_info {
  margin-top: 10px;
}
.with_pet_info .icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.with_pet_info .icon_dog {
  background: url(/images/inc/icon_dog.svg) no-repeat;
}
.with_pet_info .icon_palace {
  background: url(/images/inc/icon_palace.svg) no-repeat;
}
.with_pet_info .icon_rope {
  background: url(/images/inc/icon_rope.svg) no-repeat;
}
.intimacy_level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.intimacy_level .icon {
  width: 24px;
  height: 24px;
}
.intimacy_level .icon_sad {
  background: url(/images/inc/icon_dog_sad.svg) no-repeat;
}
.intimacy_level .icon_happy {
  background: url(/images/inc/icon_dog_happy.svg) no-repeat;
}
.intimacy_level .bar {
  position: relative;
  flex: 1;
  height: 8px;
  margin: 0 8px;
  border-radius: 4px;
  background-image: linear-gradient(
    to right,
    #ef390e 0%,
    #ef390e 0%,
    #f6a521 22%,
    #f6e53b 49%,
    #a5d62f 74%,
    #4ca54c 100%
  );
}
.intimacy_level .bar .point {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  border: solid 4px #fff;
  border-radius: 100%;
  background: #6aaf3c url(/images/inc/icon_dog_pad.svg) no-repeat 50%/15px;
}
.intimacy_level .bar .point[style="left:0%"] {
  transform: translate(0, -50%);
}
.intimacy_level .bar .point[style="left:100%"] {
  transform: translate(-100%, -50%);
}

/* 검색 내 button, a :active */
.search_result_item > button:active,
.search_result_item > a:active,
.search_header_form .sh_form_wrap .btn_kwd_delete:active,
.line_tabs .tab_item > a:active,
.btn_txt_delete:active,
.btn_x_delete:active {
  border-radius: 5px;
  background-color: rgba(46, 26, 70, 0.04) !important;
}
.search_result_item .s_info .btn_more:active,
.search_result_item.pop_sp_info .btn_back:active,
.map_area .goto_mylocation:active,
#header.has_only_hdback .btn_hdback:active {
  background-color: rgba(46, 26, 70, 0.04) !important;
}
.sch_recommend_list .list_item a:active {
  background-color: rgba(46, 26, 70, 0.2) !important;
}

/* 업로드 - 검색팝업 */
.search_header_form.type_upload {
  margin-left: 10px;
  width: calc(100% - 54px);
}
.search_header_form.type_upload .btn_cancel {
  width: auto;
  height: 36px;
  position: absolute;
  top: 10px;
  right: 0;
  padding: 4px;
  margin: 0 4px;
  text-indent: initial;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  background: #fff;
}
.s_place_result {
  width: 100%;
  height: calc(
    100vh - 56px - 100vw
  ); /*position: absolute; bottom: 0; left: 0; right: 0;*/
  overflow: hidden;
  background: #fff;
}
.s_place_result > ul {
  height: 100%;
  overflow-y: auto;
}
.s_place_result li > button {
  width: 100%;
  padding: 16px;
}
.s_place_result .name {
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}
.s_place_result .address {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #a39fbd;
}
/* _지도 */
.map_area {
  position: relative;
}
.map_area .pin {
  width: 28px;
  height: 28px;
  background: url(/images/inc/icon_map_pin2.svg) no-repeat 0/28px;
  position: absolute;
  z-index: 1;
}
/* _유저/패밀리 검색 */
.user_family_list {
  padding: 4px 16px 0;
}
.user_family_list .user_family_item {
  display: flex;
  padding: 16px 0;
}
.user_family_list .user_family_item + .user_family_item {
  border-top: 1px solid #f5f5f8;
}
.user_family_list .user_area {
  flex: 0 0 48px;
}
.user_family_list .family_area {
  display: flex;
  flex: 1 0 calc(100% - 48px - 64px);
  margin-left: 64px;
}
.user_family_list .user {
  width: 48px;
}
.user_family_list .user .img {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #78a7cb;
  border-radius: 100%;
  overflow: hidden;
}
.user_family_list .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user_family_list .user.has_badge {
  position: relative;
}
.user_family_list .user.has_badge .img {
  border-color: #eab4c3;
}
.user_family_list .user .badge {
  display: none;
}
.user_family_list .user.has_badge .badge {
  display: block;
  position: absolute;
  top: 28px;
  right: -4px;
  width: 24px;
  height: 24px;
}
.user_family_list .user .name {
  margin-top: 8px;
  font-size: 10px;
  font-weight: 700;
}
.user_family_list .family_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.user_family_list .family_list .item {
  width: calc(50% - 8px);
  margin-top: 8px;
}
.user_family_list .family_list .item:nth-child(-n + 2) {
  margin-top: 0;
}
.user_family_list .family_list .item:nth-child(2n) {
  margin-left: 16px;
}
.user_family_list .family_list .pet {
  display: flex;
  align-items: center;
  width: 100%;
}
.user_family_list .family_list .img {
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}
.user_family_list .family_list .name {
  flex: 1 0 auto;
  max-width: calc(100% - 32px - 8px);
  margin-left: 8px;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}
/* _친구태그 */
.upload_img_area {
  width: 100vw;
  height: 100vw;
  position: relative;
}
.upload_img_area .upload_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upload_img_area .tag {
  position: absolute;
  z-index: 1;
  padding-top: 5px;
}
.upload_img_area .tag.my_pet {
  background: transparent url(/images/inc/tag_arrow_v.svg) no-repeat 50% 0/11px;
}
.upload_img_area .tag.fr_pet {
  background: transparent url(/images/inc/tag_arrow_p.svg) no-repeat 50% 0/10px;
}
.upload_img_area .tag.is_active .tag_wrap {
  padding-right: 28px;
}
.upload_img_area .tag .tag_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 8px;
}
.upload_img_area .tag.my_pet .tag_wrap {
  background: rgba(46, 26, 70, 0.9);
}
.upload_img_area .tag.fr_pet .tag_wrap {
  background: rgba(237, 124, 132, 0.9);
}
.upload_img_area .tag_wrap [class^="name"] {
  display: block;
}
.upload_img_area .tag_wrap .name {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
.upload_img_area .tag_wrap .name_sm {
  display: none;
  margin-bottom: 4px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}
.upload_img_area .tag_wrap .btn_delete {
  display: none;
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(/images/inc/icon_x_c_w.svg) no-repeat 50%/12px;
}
.upload_img_area .tag.is_active .tag_wrap .name_sm,
.upload_img_area .tag.is_active .tag_wrap .btn_delete {
  display: block;
}
.upload_desc {
  margin: 80px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.27px;
  text-align: center;
}
.upload_img_area .tag_prd {
  position: absolute;
  z-index: 1;
}
.upload_img_area .tag_prd:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: #78a7cb;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.upload_img_area .tag_prd.is_active:after {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
}
.upload_img_area .tag_prd .tag_wrap {
  display: none;
  position: absolute;
  top: -74px;
  left: 50%;
  transform: translateX(-50%);
}
.upload_img_area .tag_prd .tag_wrap .img {
  display: block;
  width: 48px;
  height: 48px;
  border: 4px solid #fff;
  border-radius: 4px;
  overflow: hidden;
}
.upload_img_area .tag_prd .tag_wrap .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload_img_area .tag_prd .tag_wrap .btn_delete {
  display: none;
  position: absolute;
  right: -13px;
  top: -13px;
  transform: translateY(0);
  width: 32px;
  height: 32px;
  background: url(/images/inc/icon_x_c_g.svg) no-repeat 50%/16px;
}
.upload_img_area .tag_prd.is_active .btn_delete,
.upload_img_area .tag_prd.is_active .tag_wrap {
  display: block;
}

/* 하단팝업 펫동반지도 */
.pop_withpetmap .place_name {
  padding-top: 66px;
  text-align: center;
  background: url(/images/inc/icon_map_pin2.svg) no-repeat left 50% top 11px/48px
    48px;
}
.pop_withpetmap .place_name em {
  font-size: 14px;
  font-weight: 700;
  color: #78a7cb;
}
.pop_withpetmap [class^="place_p"] {
  text-align: center;
}
.pop_withpetmap .place_p_em {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
}
.pop_withpetmap .place_p {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 500;
  color: #807aa2;
}
.pop_withpetmap .pop_btn_wrap {
  padding: 0 16px 16px;
  justify-content: space-between;
}
.pop_withpetmap .pop_btn_wrap button {
  flex-basis: calc(50% - 4px);
}

/* 서베이 */
.survey {
  padding: 0 24px 16px;
}
.survey_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.survey_header [class^="btn"] {
  height: 30px;
  padding: 4px;
  border-radius: 5px;
}
.survey_header [class^="btn"]:disabled {
  visibility: hidden;
}
.survey_header [class^="btn"] span {
  font-size: 14px;
  vertical-align: baseline;
}
.survey_header .btn_prev {
  padding-left: 18px;
  background: url(/images/inc/icon_chevron2_l.svg) no-repeat 0 50%;
}
.survey_header .btn_next {
  padding-right: 18px;
  background: url(/images/inc/icon_chevron2.svg) no-repeat 100% 50%;
}
.survey_header .steps {
  display: flex;
  align-items: center;
}
.survey_header .steps li {
  counter-increment: step-num;
  position: relative;
  width: 5px;
  height: 5px;
  margin: 0 4px;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  border-radius: 100%;
  background: #c7c4d8;
}
.survey_header .steps li.active {
  width: 18px;
  height: 18px;
  background: #78a7cb;
}
.survey_header .steps li.active:before {
  content: counter(step-num);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* 헤더56, 서베이헤더50, 서베이푸터88, 서베이푸터위아래32 */
.survey_content {
  min-height: calc(100vh - 56px - 50px - 88px - 32px - 24px);
  padding-bottom: 24px;
}
.survey_content dt {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  word-break: keep-all;
}
.survey_content dd {
  margin-bottom: 8px;
}
.survey_content .btns_wrap {
  margin-top: 16px;
}
.sv_answer {
  display: flex;
  flex-direction: column;
  padding: 13px 44px 13px 16px;
  border: 1px solid #f5f5f8;
  background: #f5f5f8;
  border-radius: 16px;
  overflow: hidden;
  transition: none;
}
.sv_input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sv_input:checked + .sv_answer {
  border-color: #78a7cb;
  background: #e4eff6 url(/images/inc/icon_chk3_m.svg) no-repeat right 12px top
    50%/24px;
}
.sv_answer .txt {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.sv_answer .txt_sm {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #a39fbd;
}

.survey_footer {
  padding: 16px;
  border: 1px solid #e8e8ef;
  border-radius: 12px;
}
.survey_footer em {
  font-size: 14px;
  font-weight: 700;
  color: #695e8f;
}
.survey_footer p {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  color: #807aa2;
}

/* 업로드 내 button, a :active */
.survey_header [class^="btn"]:active,
.pop_upload_tag .btn_submit:active,
#aside .pop_search .pop_aniclose_btn:active,
.s_place_result li > button:active {
  background-color: rgba(46, 26, 70, 0.04) !important;
}
